@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E2E2E2;
  font-family: "neue-haas-grotesk-display", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@layer base {
  body {
    @apply text-neutral-900;
  }
}

@layer components {
  .auth-form input {
    @apply p-3 font-medium bg-white/50 border border-black/5 rounded;
  }

  .auth-form p {
    @apply ml-2 text-sm text-red-500;
  }

  .auth-form button {
    @apply mt-6 mb-4 py-3 bg-zinc-800/90 text-white font-semibold rounded;
  }
}

.record {
  mask-image: radial-gradient(circle at center, transparent 0, transparent 2.3%, black 2.7%);
}

#slider {
  height: 10px;
  margin: 0 1rem;
}

#slider .noUi-connect {
  background: #c0392b;
}

#slider .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
}

#slider .noUi-handle:after {
  display: none;
}

#slider .noUi-handle:before {
  display: none;
}